{% for story in site.data.contentful.spaces.stories.postContainer %}
  {% unless story.title == page.title %}
    {% assign story = story | sample %}
  {% endunless %}
{% endfor %}

<section class="next-story">
  <div class="container animation-set">
    <div class="next-story-intro">
      <h5>Another story you may like</h5>
    </div>
    <div class="next-article-container row">

      <figure class="article-component col-md-8 offset-md-2 col-lg-6 offset-lg-3 animated animated--slide-up">
        <div class="image-container">
          <a href="{{ story.title | datapage_url: 'stories' }}">
            <img src="https:{{story.thumbnail.url}}" alt="{{ story.thumbnail.title}}" />
          </a>
        </div>
        <div class="article-info">
          <div class="header">

            <a href="{{ story.title | datapage_url: 'stories' }}"><h3>{{ story.title }}</h3></a>
            <span class="meta">Issue {{ story.issue | capitalize }} —

                {% assign contribID = story.contributors[0].sys.id  %}
                {% for contributor in site.data.contentful.spaces.stories.contributors %}
                  {% if contributor.sys.id ==  contribID %}
                    <span>
                      {{ contributor.name }}
                    </span>
                  {% endif %}
                {% endfor %}

               — {{ story.readTime }} minute read</span>

          </div>
          <div class="excerpt">
            <p class="small">{{ story.excerpt }}</p>
            <a href="{{ story.title | datapage_url: 'stories' }}" class="secondary-link">Continue reading</a>
          </div>
        </div>
      </figure>

    </div>
  </div>
</section>
